<%- include('layouts/header.ejs'); -%>

  <body>

    <!-- Navigation -->
    <%- include('layouts/navbar.ejs'); -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h2>Hello, welcome to The Messenger</h2>
                <span class="subheading">Start Messaging!</span>
              </div>
            </div>
          </div>
        </div>
      </header>


      <!-- Footer -->

      <%- include('layouts/footer.ejs'); -%>
        <%- include('layouts/scripts.ejs'); -%>

  </body>

  </html>